html{
    box-sizing: border-box;
  }
  html, body {font-family: 'Roboto Slab';}
  *, *::after, *::before{
    box-sizing: inherit;
  }
  
  * {
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
    
    button {
      cursor: pointer;
    }
    
    a,
    a:visited {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: none;
    }
    
    ul li {
      list-style: none;
    }
    
    
    
   
  /*---header---*/
  
    .header{
      max-width: 1220px;
      margin: 0 auto;
      padding: 0 10px;
      margin-bottom: 15px;
    }
    
    .header-sections{
      display: flex;
    }

    .header-sections-logo{
      margin-top: 16px;
    }

    .logo__img{
      width: 134px;
    }
  
    .header-sections-nav{
      display: flex;
      flex-direction: column;
      margin-top: 58px;
      margin-left: 60px;
    }
  
    .header-sections-nav-top{
      display: flex;
      flex-direction: row;
      margin-bottom: 25px;
    }

    .search-top{
      margin-right: 89px;
    }

    .search-top__catalog{
      width: 115px;
      height: 40px;
      background-color: #991B1E;
    }

    .search-top__catalog-title{
      font-family: 'Roboto Slab';
      color: white;
    }
  
    .search-top__input{
      width: 506px;
      height: 40px;
      background: url(/img/search.svg) no-repeat center right;
      padding-right: 30px;
      background-color: #F5F5F5;
    }
  
    .info-basket{
      margin-right: 50px;
    }

    .info-contacts-support{
        font-family: 'Montserrat';
        color: #0E262D;
        font-size: 14px;
        font-weight: 400;
    }
    .info-contacts-number{
      color: #0E262D;
      font-size: 26px;
      font-weight: 600;
    }
    .info-contacts-order{
      color: #991B1E;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 400;
    }

    .info-top{
      display: flex;
      flex-direction: row;
    }
  
    .info-contacts{
      display: flex;
      flex-direction: column;
      text-align: end;
    }
  
    .header-sections-nav-buttom-link{
      display: flex;
    }
  
    .header-sections-nav-buttom__link_activ{
      color: #991B1E;
      margin-left: 10px;
      font-size: 17px;
    }

    .header-sections-nav-buttom__link_passiv{
      color: #0E262D;
      font-size: 17px;
    }

    .header-sections-nav-buttom-link__file{
      display: flex;
      align-items: center;
      margin-right: 75px;
    }
  
    .header-sections-nav-buttom-link__file-link{
      margin-left: 13px;
    }
  
    .header-sections-nav-buttom-link__links{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .header-sections-nav-buttom__link{
      margin-right: 75px;
    }

    .header-sections-nav-buttom__link:last-child{
      margin-right: 0px;
    }
    
  /*---main---*/
  /*---Слайдер---*/
  .swiper{
    display: flex;
      justify-content: center;
      width: 1200px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      height: 320px;
      margin-bottom: 40px;
    }
  
  .swiper-slide-title{
    font-size: 30px;
  font-family: Roboto Slab;
  font-weight: 600;
  color: #F5F5F5;
  width: 413px;
  margin-left: 102px;
  margin-bottom: 20px;
  margin-top: 70px;
  
  }
  
  .swiper-slide-button{
    font-size: 18px;
  font-family: Roboto Slab;
  font-weight: 600;
  color: #F5F5F5;
  background-color: #0E262D;
  width: 202px;
  height: 40px;
  margin-left: 102px;
  }
  
  @media only screen and (max-width: 768px){
    .swiper{
      width: 728px;
      height: 320px;
    }
  }
  
  .swiper-pagination-bullet{
    color: #991B1E;
  }
  .swiper-pagination-bullet-active{
    color: #CCCCCC;
  }
  
  
  
  /*---Карточки категорий---*/
  
  
  .variety-row{
      display: flex;
      justify-content: center;
      width: 1200px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  .variety-row-block{
      background-color: #0E262D;
      width: 280px;
      height: 100px;
  }
  
  @media only screen and (max-width: 768px){
    .variety-row-block{
      width: 270px;
    }
  }
  
  .variety-row-block-elements{
    display: flex;
  }
  
  .variety-row-block__img{
    margin-left: 10px;
    margin-top: 10px;
    
  }
  
  .variety-row-block__title{
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .variety-row-block__title-title{
    color: white;
  }
  
  /*---Карточки продуктов---*/
  
  .product{
      background-color: #F5F5F5;
  }
  .product-sections{
      display: flex;
      justify-content: center;
      width: 1200px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
  }
  
  .product-top__title{
    margin-right: 33px;
    color: #0E262D;
    font-size: 30px;
  }
  .product-top__sections{
    display: flex;
    gap: 36px;
    align-items: center;
  }
  .product-top__sections-link{
    color: #991B1E;
    font-family: 'Montserrat';
    font-size: 16px;
  }
  .product-top{
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  .product-card-row{
      display: flex;
      gap: 20px;
      margin-bottom: 28px;
  }
  
  
  .product-card-row-block{
    background-color: white;
    width: 183px;
    height: 387px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  @media only screen and (max-width: 768px){
   
  }
  
  @media only screen and (max-width: 768px){
    .variety-row-block{
      width: 173px;
    }
  }
  .product-card-row-block__img{
    margin-left: 10px;
  }
  
  .product-card-row-block__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #0E262D;
  }
  
  .product-card-row-block__info-title{
    color: #0E262D;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
  }
  .product-card-row-block__info-text{
    font-family: 'Montserrat';
    font-size: 14px;
  }
  
  
  .product-card-row-block__price{
    margin-left: 10px;
  }
  .product-card-row-block__price-top{
    color: #CCCCCC;
  }
  .product-card-row-block__price-buttom{
    color: #0E262D;
    
  }
  
  .product-card-row-block__button{
    display: flex;
    justify-content: center;
  }
  .product-card-row-block__button-button{
    width: 163px;
    height: 37px;
    background-color: #991B1E;
    color: #F5F5F5;
    font-weight: 600;
    font-family: 'Roboto Slab';
  }
  
  /*---Карточки скидок и акций---*/
  .promotion-sections{
      display: flex;
      justify-content: center;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
  
  }
  .promotion-top{
      display: flex;
      margin-top: 40px;
      margin-bottom: 20px;
  }
  
  .promotion-top__title-title{
    color: #0E262D;
    font-weight: 600;
    font-size: 30px;
  }
  .promotion-card{
      display: flex;
      gap: 20px;
  }
  
  .promotion-card-block-sections-left{
    
    background-color: #CCCCCC;
    width: 387px;
    height: 200px;
    padding-top: 15px;
    padding-left: 30px;
  }
  .promotion-card-block-sections-center{
    
    background-image: url(/img/promotion-center.svg);
    width: 387px;
    height: 200px;
    padding-top: 15px;
    padding-left: 30px;
  }
  .promotion-card-block-sections-right{
   
    background-color: #0E262D;
    width: 387px;
    height: 200px;
    padding-top: 15px;
    padding-left: 30px;
  }
  
  @media only screen and (max-width: 768px){
    .promotion-card-block-sections-right{
      display: none;
    }
    .promotion-card{
      display: flex;
      justify-content: center;
  }
  
  }
  
  .promotion-card-block__time-title1{
    width: 74px;
    height: 25px;
    background-color: #991B1E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
  }
  .promotion-card-block__time-title2{
    width: 74px;
    height: 25px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
  }
  .promotion-card-block__time-title3{
    width: 74px;
    height: 25px;
    background-color: #991B1E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
  }
  
  
  .promotion-card-block__button-button1{
    width: 138px;
    height: 40px;
    background-color: #0E262D;
    color: #F5F5F5;
    font-family: 'Roboto Slab';
  }
  .promotion-card-block__button-button2{
    width: 201px;
    height: 40px;
    background-color: #0E262D;
    font-family: 'Roboto Slab';
    color: #F5F5F5;
  }
  .promotion-card-block__button-button3{
    width: 138px;
    height: 40px;
    background-color: #991B1E;
    color: #F5F5F5;
    font-family: 'Roboto Slab';
  }
  
  .promotion-card-block__info1{
    width: 327px;
    height: 78px;
    margin-top: 13px;
    margin-bottom: 13px;
    color: #0E262D;
    font-size: 20px;
    font-weight: 600;
  }
  .promotion-card-block__info2{
    width: 170px;
    height: 78px;
    margin-top: 13px;
    margin-bottom: 13px;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 600;
  }
  .promotion-card-block__info3{
    width: 327px;
    height: 78px;
    margin-top: 13px;
    margin-bottom: 13px;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 600;
  }
  .promotion-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .promotion-button-button{
    width: 134px;
    height: 40px;
    background-color: #991B1E;
    color: #F5F5F5;
    font-family: 'Roboto Slab';
    font-size: 18px;
  }
  
  /*---Преимущества---*/
  .advantage-sections{
      display: flex;
      justify-content: center;
      width: 1200px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 94px;
  }
  .advantage-block-card{
      display: flex;
      gap: 20px;
      font-family: 'Montserrat';
      font-weight: 500;
  }
  
  .advantage-block-card__card-img{
    margin-bottom: 20px;
  }
  .advantage-block-card__card{
    width: 183px;
    text-align: center;
  }
  
  .advantage-block-title{
    margin-bottom: 63px;
  }
  
  .advantage-block-title-title{
    font-size: 60px;
    font-weight: 600;
  }
  
  
  /*---Вопросы---*/
  .questions{
    height: 654px;
      background-image: url(/img/bg-questions.svg);
  }
  .questions-sections{
      display: flex;
      justify-content: center;
      width: 1200px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }
  
  
  .questions-title{
    margin-top: 101px;
    width: 590px;
    margin-right: 20px;
  }
  .questions-title__title{
    margin-bottom: 40px;
  }
  .questions-title__title-title1{
    font-size: 70px;
    font-weight: 600;
    color: #F5F5F5;
  }
  .questions-title__title-title2{
    font-size: 90px;
    font-weight: 600;
    color: #F5F5F5;
  }
  
  .questions-title__info-sections{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .questions-title__info{
    color: #F5F5F5;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
  }
  .questions-input{
    margin-top: 180px;
  }
  
  .questions-input__name{
    width: 588px;
    height: 60px;
    margin-bottom: 30px;
  }
  .questions-input__name::placeholder{
    padding-left: 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #0E262D;
  }
  
  .questions-input__number{
    width: 588px;
    height: 60px;
    margin-bottom: 30px;
  }
  .questions-input__number::placeholder{
    padding-left: 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #0E262D;
  }
  .questions-input__comment{
    width: 588px;
    height: 140px;
  }
  .questions-input__comment::placeholder{
    padding-left: 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #0E262D;
    
  }
  .questions-input-buttom{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .questions-input__button-button{
    width: 173px;
    height: 52px;
    background-color: #0E262D;
    color: white;
    font-family: 'Roboto Slab';
  }
  
  .question-input__sogl-text{
    width: 362px;
    margin-right: 18px;
    margin-left: 14px;
    color: white;
  }
  /*---Карта---*/
  .map-title{
      display: flex;
      justify-content: start;
      width: 1200px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
  }
  
  .map-title-title{
    font-size: 60px;
  }
  
  .map{
    height: 691px;
  }
  
  
  /*---footer---*/
  .footer-top{
      background-color: #0E262D;
      height: 332px;
  }
  .footer-sections{
      
      display: flex;
      justify-content: center;
      width: 1200px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
  }
  .footer-block{
    margin-top: 62px;
    margin-bottom: 38px;
  }
  
  .footer-block-info{
    font-family: 'Montserrat';
  }
  
  .footer-block-info-section__title{
    font-weight: 700;
    margin-bottom: 7px;
  }
  .footer-block-info-section{
    color: white;
  }
  
  .footer-block-info-section__info{
    margin-bottom: 25px;
    width: 200px;
  }
  .footer-block-info-section__social{
      display: flex;
  }
  
  .footer-block-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-block-link_link-link{
    color: #F5F5F5;
  }
  
  
  
  
  
  
  
  .footer-sections-buttom{
      background-color: #263b42;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  
  
  
  .footer-sections-buttom__name-name{
    font-family: 'Montserrat';
    font-size: 10px;
    color: #798589;
  }